@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";



.display-block {
  display: block;
}


.custombutton {
	    background: #17ef1d;
    padding: 6px;
    padding-right: 17px;
}
.close {
	padding: 7px;
    padding-right: 17px;
    background: #e05050;
}